<div class="view-container">
    <mat-toolbar color="primary">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>ZPI Dashboard</span>
        <div class="toolbar-actions-container">
            <span>John Doe</span>
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-drawer-container class="side-menu-container" hasBackdrop="false">
        <mat-drawer (mouseleave)="sideNavHovered = false" (mouseover)="sideNavHovered = true" disableClose
                    mode="side"
                    opened>
            <mat-nav-list class="sidenav">
                <mat-list-item *ngFor="let link of links">
                    <div class="list-item">
                        <mat-icon>{{link.icon}}</mat-icon>
                        <span *ngIf="sideNavHovered" class="list-item-title">{{link.title}}</span>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <div class="content">
            <div class="control-panel">
                <mat-form-field>
                    <mat-label>Choose a date from :</mat-label>
                    <input (dateChange)="setDate({from: $event.value!})"
                           [defaultValue]="defaultFrom.toLocaleDateString('en-us')"
                           [matDatepicker]="pickerFrom"
                           matInput>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle [for]="pickerFrom" matIconSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date to :</mat-label>
                    <input (dateChange)="setDate({to: $event.value})"
                           [defaultValue]="defaultTo.toLocaleDateString('en-us')"
                           [matDatepicker]="pickerTo" [max]="defaultTo" matInput>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle [for]="pickerTo" matIconSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="view-content">
                <div *ngIf="currentView === 'all' || currentView < 3"
                     [ngClass]="currentView < 3 ? 'full' : 'dashboard-content-row'">
                    <mat-card *ngIf="currentView === 'all' || currentView === 1"
                              class="dashboard-content-item">
                        <button (click)="changeView(1)" class="float-btn" mat-icon-button>
                            <mat-icon *ngIf="currentView !== 1">open_in_new</mat-icon>
                            <mat-icon *ngIf="currentView === 1">minimize</mat-icon>
                        </button>
                        <app-line-chart class="hhh"></app-line-chart>
                    </mat-card>
                    <mat-card *ngIf="currentView === 'all' || currentView === 2"
                              class="dashboard-content-item">
                        <button (click)="changeView(2)" class="float-btn" mat-icon-button>
                            <mat-icon *ngIf="currentView !== 2">open_in_new</mat-icon>
                            <mat-icon *ngIf="currentView === 2">minimize</mat-icon>
                        </button>
                        <app-pie-chart class="hhh"></app-pie-chart>
                    </mat-card>
                </div>
                <div *ngIf="currentView === 'all' || currentView > 2"
                     [ngClass]="currentView > 2 ? 'full' : 'dashboard-content-row'">
                    <mat-card *ngIf="currentView === 'all' || currentView === 3" class="dashboard-content-item">
                        <button (click)="changeView(3)" class="float-btn" mat-icon-button>
                            <mat-icon *ngIf="currentView !== 3">open_in_new</mat-icon>
                            <mat-icon *ngIf="currentView === 3">minimize</mat-icon>
                        </button>
                        <app-table-graph></app-table-graph>
                    </mat-card>
                    <mat-card *ngIf="currentView === 'all' || currentView === 4" class="dashboard-content-item">
                        <button (click)="changeView(4)" class="float-btn" mat-icon-button>
                            <mat-icon *ngIf="currentView !== 4">open_in_new</mat-icon>
                            <mat-icon *ngIf="currentView === 4">minimize</mat-icon>
                        </button>
                        <app-timer class="hhh"></app-timer>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>
